body {
  margin: 0;
  padding: 0;
	font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-image: url('../skins/bgmotiv.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  #content-container {
	padding: 20px;
  }
  
  #logo {
	max-width: 100%;
  }
  
  .text-warning {
	color: #F49A53 !important;
  }
  
  .text-muted {
	color: #B1B1BD !important;
  }
  
  .btn-success {
	background-color: rgba(44.89, 207.19, 158.5, 1);
	border: none;
	font-weight: 600;
  }
  
  .btn-success:hover {
	background-color: rgb(21, 126, 94);
	border: none;
  }
  .btn-light {
	background-color: rgba(247, 246, 252, 1);
	border: none;
  }
  
  .btn {
	cursor: pointer;
  }
  
  h1, h2, h5 {
	font-family: "Poppins", sans-serif;
  }
  
  p {
	font-family: "Poppins", sans-serif;
  }
  
  .rounded-pill {
	border-radius: 50px !important;
  }
  