<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>MotivaAção - Construtor de jogos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="../css/styles.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
	</head>

    <div id="topo"  >

        <a id="logotipo_motiva__o_cls_a"  _par="" >
            <img src="../skins/Logotipo-Motivação.png" id="logo" />
            </a>
        <div id="cen_rios" >
            Construtor
        </div>

        <div id="menu_sandu_che"  >
            <div id="rectangle_6_ek1"  ></div>
            <img src="../skins/menu.png" id="menu" />

        </div>

        <div id="ajuda"  >
            <div id="rectangle_6_ek"  ></div>
            <img src="../skins/vector_ek20.png" id="vector_ek20" />

        </div>
    </div>
    
    <div id="loading">

        <div id="" style="overflow: hidden;
        font-family: Poppins;
        font-size: 20px;width: 500px; color:#555 ; margin-bottom: 45px;">
        Construindo a sua aplicação ..        
        </div>

        <img src="../skins/loading.gif" width="200px" style="margin-top: 60px;margin-left: 10px;">

    </div>

</html>