<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Ajuda - construtor MotivaAção </title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
</head>
<body>
    <div class="container my-5">
        <div class="text-center mb-5">
            <h1>Ajuda - Construtor MotivaAção</h1>
            <p>Entenda o funcionamento da plataforma</p>
        </div>
        <p>Esta plataforma tem como propósito facilitar a criação de jogos digitais que utilizem o método MotivaAção: A edição de imagens urbanas que motivem nos usuários o desejo de transformação dos espaços.<br>
        Com base nos resultados dos feedbacks de ações extensionistas, a criação desta plataforma foi guiada pela proposta da geração de jogos sem a necessidade de adquirir conhecimento em programação e desenvolvimento de software, expandindo o público alvo (extensionistas, professores, alunos).</p>
        <br>
        <h4>Passo a passo:</h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <b>Local do Unity</b> - Devemos selecionar o local da instalação de nosso unity (unity.exe). Clique em "Selecione Local" para abrir a janela de seleção e aponte o local do unity em seu computador.
            </li>
            <li class="list-group-item">
                <b>Local do Projeto</b> - Devemos selecionar o local do projeto MotivaAção que você utilizará para criar seu jogo. Clique em "Selecione Local" para abrir a janela de seleção e aponte o local da pasta do projeto em seu computador.
            </li>
            <li class="list-group-item">
                <b>Plano de Fundo</b> - Devemos selecionar uma imagem de fundo para a cena do jogo, dando preferência aos formatos <b>.jpg</b> e <b>.png</b>. Clique em "Adicionar fundo" para abrir a janela de seleção de imagem.
            </li>
            <li class="list-group-item">
                <b>Componentes</b> - Devemos selecionar imagens de componentes para a cena do jogo. Selecione quantas quiser. <b>Importante:</b> As imagens de componentes devem ser em formato <b>.png</b> sem fundo e com dimensões <b>1366 x 768</b> para melhor encaixe na cena. Clique em "Adicionar imagens" para abrir a janela de seleção.
            </li>
            <li class="list-group-item">
                <b>Construir!</b> - Após selecionar as 4 partes para seu jogo, clique em "Construir!" para começar a construção. Ao terminar, o construtor abrirá a pasta onde se encontra seu projeto, na pasta EXECUTAVEL.
            </li>
        </ul>
        <br>
        <div class="text-center mt-5">
            <h1>Créditos</h1>
            <p>Adriane Borda Almeida da Silva - Orientadora<br>
                Pedro Thiago do Nascimento Moreira Roque - Desenvolvedor<br>
                Gabriel da Silva Bittencourt - Desenvolvedor<br>
                Bruno Iost - Desenvolvedor
            </p>
            <p>GEGRADI - UFPel - 2023</p>
        </div>
        <div class="text-center my-4" id="imagensajuda">
            <img src="../skins/Logotipo-Motivação.png" class="img-fluid mx-2" alt="Logotipo MotivaAção" />
            <img src="../skins/GEGRADI.png" width="80px" class="img-fluid mx-2" alt="GEGRADI" />
            <img src="../skins/ufpel.png" width="150px" class="img-fluid mx-2" alt="UFPel" />
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
