<!DOCTYPE html>
<html>
  <head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>1_3_1____construtor_etapa_plano_de_fundo_ok</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="../css/1_3_1____construtor_etapa_plano_de_fundo_ok.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->

	</head>
	<body>
		<div id="content-container" >
			<div id="_bg___1_3_1____construtor_etapa_plano_de_fundo_ok"  ></div>

			<div id="etapas"  >

				<div id="linha_cinza_suave___4_colunas"  >
					<div id="rectangle_3"  ></div>

				</div>

				<div id="linha_cinza_suave___4_colunas_ek1"  >
					<div id="rectangle_3_ek1"  ></div>

				</div>

				<div id="linha_cinza_suave___4_colunas_ek2"  >
					<div id="rectangle_3_ek2"  ></div>

				</div>

				<btn id="bot_o_positivo_2_colunas_cls_a" >

					<div id="bot_o_positivo___3_colunas"  >
						<div id="rectangle_5"  ></div>

					</div>
					<div id="avan_ar" >
						AVANÇAR
					</div>
				</btn>

				<btn id="botão2" >

					<div id="bot_o_positivo___3_colunas"  >
						<div id="rectangle_5"  ></div>

					</div>
					<div id="avan_ar" >
						COMANDO
					</div>

				</btn>

				<div id="linha_cinza_suave___4_colunas_ek3"  >
					<div id="rectangle_3_ek3"  ></div>

				</div>

				<a id="etapa_4_finaliza__o_desativada_cls_a"  _par="" >

					<div id="construtora___etapa_bloqueada"  >
						<div id="ellipse_3"  ></div>

						<div id="textos"  >
							<div id="posicionamento" >
								Finalização
							</div>
							<div id="etapa_3" >
								Etapa 4
							</div>

						</div>
						<img src="../skins/vector.png" id="vector" />

					</div>
					<img src="../skins/ico_check.png" id="ico_check" />

				</a>

				<a id="etapa_3_posicionamento_desativada_cls_a"  _par="" >

					<div id="construtora___etapa_bloqueada_ek1"  >
						<div id="ellipse_3_ek1"  ></div>

						<div id="textos_ek1"  >
							<div id="posicionamento_ek1" >
								Posicionamento
							</div>
							<div id="etapa_3_ek1" >
								Etapa 3
							</div>

						</div>
						<img src="../skins/vector_ek1.png" id="vector_ek1" />

					</div>
					<img src="../skins/ico_posicionamento.png" id="ico_posicionamento" />

				</a>

				<div id="etapa_2_componentes_desativada"  >

					<a id="construtora___etapa_bloqueada_ek2_cls_a"  _par="" >
						<div id="ellipse_3_ek2"  ></div>

						<div id="textos_ek2"  >
							<div id="posicionamento_ek2" >
								Componentes
							</div>
							<div id="etapa_3_ek2" >
								Etapa 2
							</div>

						</div>
						<img src="../skins/vector_ek2.png" id="vector_ek2" />

					</a>
					<img src="../skins/ico_componentes.png" id="ico_componentes" />

				</div>

				<div id="etapa_1_plano_fundo_ativada"  >

					<div id="construtor___etapa_ativa"  >
						<div id="c_rculo"  ></div>

						<div id="textos_ek3"  >
							<div id="componentes" >
								Plano de Fundo
							</div>
							<div id="etapa_2" >
								Etapa 1<br/>
							</div>

						</div>
						<img src="../skins/vector_ek3.png" id="vector_ek3" />

					</div>
					<img src="../skins/ico_planofundo.png" id="ico_planofundo" />

				</div>

				<!-- <a id="bot_o_voltar_cls_a"  _par="" href="1_2_1____construtor_home.html" >
					<div id="rectangle_6"  ></div>
					<img src="../skins/vector_ek4.png" id="vector_ek4" />

				</a> -->
				<div id="construa_o_cen_rio_para_seu_jogo" >
					<span style="font-style:normal; text-decoration:NONE; ">Construa o </span><span style="color:#F49A53; font-style:normal; text-decoration:NONE; ">cenário</span><span style="font-style:normal; text-decoration:NONE; "><br/>para seu jogo</span>
				</div>

			</div>

			<div id="topo"  >

				<a id="logotipo_motiva__o_cls_a"  _par="" >
					<img src="../skins/Logotipo-Motivação.png" id="logo" />
					</a>
				<div id="cen_rios" >
					Cenários
				</div>

				<div id="menu_sandu_che"  >
					<div id="rectangle_6_ek1"  ></div>
					<img src="../skins/menu.png" id="menu" />

				</div>

				<div id="ajuda"  >
					<div id="rectangle_6_ek2"  ></div>
					<img src="../skins/vector_ek20.png" id="vector_ek20" />

				</div>

			</div>

			<div id="bot_o_positivo_2_colunas_ek1"  >

			</div>

			<div id="componentes_ek1"  >

				<div id="conte_do"  >
					<div id="rectangle_2"  ></div>
				</div>

				<div id="plano_de_fundo" >
					Plano de Fundo
				</div>

				<div id="_0_imagens" >
					0 imagens
				</div>

				<div id="etapa_1" >
					Etapa 1
				</div>
				<div id="rectangle_3_ek4"  ></div>

				<btn id="bot_o_add_cls_a">
					<div id="rectangle_5_ek1"  ></div>
					<div id="adicionar" >
						ADICIONAR
					</div>

				</btn>

				<btn id="btn_add_bg">
					<div id="rectangle_5_ek1"  ></div>
					<div id="adicionar" >
						ADICIONAR BG
					</div>

				</btn>

				<div id="elementos"  >

					<div id="conte_do_ek1"  >
						<div id="rectangle_2_ek1"  ></div>

					</div>
				</div>
			</div>

		</div>
		<script>var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }</script>
		<script src='../js/renderer.js'></script>
	</body>
</html>