<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>MotivaAção - Construtor de jogos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="StyleSheet" href="../css/styles.css" />
    <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
  </head>
  <body>
    <div id="content-container" class="container">
		<div class="row align-items-center my-2 mb-3">
			<div class="col-2">
			  <btn id="btn_ajuda" class="btn btn-light">
				<img src="../skins/vector_ek20.png" id="vector_ek20" style="width: 24px;" />
			  </btn>
			</div>
			<div class="col-8 text-center">
			  <a id="logotipo_motiva__o_cls_a" href="#">
				<img src="../skins/Logotipo-Motivação.png" id="logo" class="img-fluid" style="width: 350px;" />
			  </a>
			  <h4 class="text-muted font-weight-bold font-italic">Construtor</h2>
			</div>
			<div class="col-2 text-right">
			  <div id="menu_sandu_che" class="btn btn-light">
				<img src="../skins/menu.png" id="menu" style="width: 24px;" />
			  </div>
			</div>
		  </div>
		  
		  

      <div class="row text-center mb-4">
        <div class="col-12">
          <h2 class="font-weight-bold" style="color: #574D9B;">
            Construa o <span class="text-warning">cenário</span> para seu jogo
          </h1>
        </div>
      </div>

      <div id="etapas" class="row justify-content-center">
        <div class="col-10">
          <div class="row mb-3 align-items-center">
            <div class="col-2">
              <img src="../skins/ico_unity.png" class="img-fluid">
            </div>
            <div class="col-6 text-left">
				<p class="mb-0 text-muted font-weight-bold">Etapa 1</p>
              <h5 class="mb-0 text-warning font-weight-bold">Local do Unity</h5>
              <p class="mb-0 text-muted"> Selecione o local da instalação de seu Unity 3D <br> (O arquivo 'unity.exe' no seu computador). </p>
            </div>
            <div class="col-4 text-right">
              <btn id="btn_add_unity" class="btn btn-success rounded-pill">SELECIONE LOCAL</btn>
            </div>
		   </div>

		   <hr style="height:1px; width:90%; border-width:0;color:lightgray;background-color:lightgray">

          <div class="row mb-3 align-items-center">
            <div class="col-2">
              <img src="../skins/ico_posicionamento.png " class="img-fluid">
            </div>
            <div class="col-6 text-left">
				<p class="mb-0 text-muted font-weight-bold">Etapa 2</p>
              <h5 class="mb-0 text-warning font-weight-bold">Local do projeto</h5>
			  <p class="mb-0 text-muted"> Selecione a pasta do projeto Unity MotivaAção no seu computador.</p>
            </div>
            <div class="col-4 text-right">
              <btn id="btn_add_proj" class="btn btn-success rounded-pill">SELECIONE LOCAL</btn>
            </div>
          </div>

		  <hr style="height:1px; width:90%; border-width:0;color:lightgray;background-color:lightgray">

          <div class="row mb-3 align-items-center">
            <div class="col-2">
              <img src="../skins/ico_componentes.png" class="img-fluid">
            </div>
            <div class="col-6 text-left">
			  <p class="mb-0 text-muted font-weight-bold">Etapa 3</p>
              <h5 class="mb-0 text-warning font-weight-bold">Plano de Fundo</h5>
			  <p class="mb-0 text-muted"> Selecione uma imagem de fundo para a cena do jogo, dando preferência aos formatos .jpg e .png.</p>
            </div>
            <div class="col-4 text-right">
              <btn id="btn_add_bg" class="btn btn-success rounded-pill">ADICIONAR FUNDO</btn>
            </div>
          </div>

		  <hr style="height:1px; width:90%; border-width:0;color:lightgray;background-color:lightgray">

          <div class="row mb-3 align-items-center">
            <div class="col-2">
              <img src="../skins/ico_banco.png" class="img-fluid">
            </div>
            <div class="col-6 text-left">
			  <p class="mb-0 text-muted font-weight-bold">Etapa 4</p>
              <h5 class="mb-0 text-warning font-weight-bold">Componentes</h5>
			  <p class="mb-0 text-muted"> selecionar imagens de componentes para a cena do jogo, dando preferência aos formatos .png sem fundo.</p>
            </div>
            <div class="col-4 text-right">
              <btn id="btn_add_imagens" class="btn btn-success rounded-pill">ADICIONAR IMAGENS</btn>
            </div>
          </div>
        </div>
      </div>

	  <hr style="height:1px; width:90%; border-width:0;color:lightgray;background-color:lightgray">

      <div class="row justify-content-center mt-4">
        <div class="col-6 text-center">
          <btn id="botão2" class="btn btn-success btn-lg rounded-pill">CONSTRUIR!</btn>
        </div>
      </div>
    </div>
    <script>var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }</script>
    <script src='../js/renderer.js'></script>
  </body>
</html>
