<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>MotivaAção - Construtor de jogos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
  </head>
  <body>
    <div class="container my-4">
      <div id="topo" class="row align-items-center mb-4">
        <div class="col-2">
          <a id="logotipo_motiva__o_cls_a" href="#">
            <img src="../skins/Logotipo-Motivação.png" id="logo" class="img-fluid" />
          </a>
        </div>
        <div class="col-8 text-center">
          <h2 id="cen_rios">Construtor</h2>
        </div>
        <div class="col-1 text-right">
          <div id="menu_sandu_che" class="btn btn-light">
            <img src="../skins/menu.png" id="menu" class="img-fluid" />
          </div>
        </div>
        <div class="col-1 text-right">
          <div id="ajuda" class="btn btn-light">
            <img src="../skins/vector_ek20.png" id="vector_ek20" class="img-fluid" />
          </div>
        </div>
      </div>

      <div id="loading" class="text-center">
        <div class="mb-4" style="overflow: hidden; font-family: Poppins; font-size: 20px; width: 100%; color: #555;">
          Construindo a sua aplicação...
        </div>
        <img src="../skins/loading.gif" width="200px" class="mt-4" />
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
